[submodule "lifehacksDatabase"]
	path = lifehacksDatabase
	url = https://github.com/the-andrewblackman/lifehacksDatabase.git
[submodule "colorFlipper"]
	path = colorFlipper
	url = https://github.com/the-andrewblackman/colorFlipper.git
[submodule "burgerMenus"]
	path = burgerMenus
	url = https://github.com/the-andrewblackman/burgerMenus.git
