[submodule "lifehacksDatabase"]
	path = lifehacksDatabase
	url = https://github.com/the-andrewblackman/lifehacksDatabase.git
[submodule "colorFlipper"]
	path = colorFlipper
	url = https://github.com/the-andrewblackman/colorFlipper.git
[submodule "burgerMenus"]
	path = burgerMenus
	url = https://github.com/the-andrewblackman/burgerMenus.git
[submodule "pyramid_localjson"]
	path = pyramid_localjson
	url = https://github.com/the-andrewblackman/pyramid_angular_localjson.git
[submodule "pyramid_json"]
	path = pyramid_json
	url = https://github.com/the-andrewblackman/pyramid-descent-angular.git
[submodule "pyramid-descent-angular"]
	path = pyramid-descent-angular
	url = https://github.com/the-andrewblackman/pyramid-descent-angular.git
